body{
    max-width: 1980px;
    margin: auto;
}
 .breadcrumb:first-child{
    -webkit-box-shadow: 0px 2px 5px 1px rgba(235,232,235,1);
    -moz-box-shadow: 0px 2px 5px 1px rgba(235,232,235,1);
    box-shadow: 0px 2px 5px 1px rgba(235,232,235,1);
 }

.well-sm{
    height:22px;
}
.well-sm p{
    margin-top: -8px;
}
.well-color{
	background:#BDBDBD;
	color:white;
}
.dropdown-menu{
	margin-top: -11px;
	margin-left: -10px;
}