@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	font-family: 'Roboto', sans-serif;
}
.fa-trash-o{
	cursor:pointer;
    color:#e53935;
}
.dropdown-toggle{
	cursor:pointer;
}
.well-sm{
    height:22px;
}
.well-sm p{
    margin-top: -8px;
}

.fa-eye{
	margin-right:15px;
	font-size: 20px;
	cursor:pointer;
	color: #1976D2;
}
.dropdown-menu{
	margin-top: -11px;
	margin-left: -10px;
}
.content-ops{
	background: whitesmoke;
	border: 1px solid lightgrey;
	border-bottom:none;"
}
textarea.form-control, input.form-control, .btn{
	border-radius:0;
}

.form-control, .btn{
	-webkit-box-shadow: -2px 2px 5px 0px rgba(230,225,230,1);
	-moz-box-shadow: -2px 2px 5px 0px rgba(230,225,230,1);
	box-shadow: -2px 2px 5px 0px rgba(230,225,230,1);
}
.well-color{
	background:#BDBDBD;
	color:white;
}
.content-ops h4{
	margin:4px;
}
.collapse{
	-webkit-box-shadow: -2px 1px 5px 0px rgba(230,225,230,1);
	-moz-box-shadow: -2px 1px 5px 0px rgba(230,225,230,1);
	box-shadow: -2px 1px 5px 0px rgba(230,225,230,1);
}
.collapse p, .collapse pre, .collapse h4{
	border-radius:0;
}
.collapse p,  .collapse h4{
	padding-left:10px;
}