@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	font-family: 'Roboto', sans-serif;
}
.fa-trash-o{
	cursor:pointer;
    color:#e53935;
}
.dropdown-toggle{
	cursor:pointer;
}
select.form-control{
	min-width:70px;
}
.fa-eye{
	margin-right:15px;
	font-size: 20px;
	cursor:pointer;
	color: #1976D2;
}
.content-ops{
	background: whitesmoke;
	border: 1px solid lightgrey;
	border-bottom:none;
}
textarea.form-control, input.form-control, .btn{
	border-radius:0;
}

.form-control, .btn{
	-webkit-box-shadow: -2px 2px 5px 0px rgba(230,225,230,1);
	-moz-box-shadow: -2px 2px 5px 0px rgba(230,225,230,1);
	box-shadow: -2px 2px 5px 0px rgba(230,225,230,1);
}
.content-ops h4{
	margin:4px;
}
.collapse{
	-webkit-box-shadow: -2px 1px 5px 0px rgba(230,225,230,1);
	-moz-box-shadow: -2px 1px 5px 0px rgba(230,225,230,1);
	box-shadow: -2px 1px 5px 0px rgba(230,225,230,1);
}
.collapse p, .collapse pre, .collapse h4{
	border-radius:0;
}
.collapse p,  .collapse h4{
	padding-left:10px;
}
.img-responsive{
	 max-height:400px;
	 margin:auto;
	 margin-top:0;
}

#alert{
	display:none;
	position:fixed;
	top:0;
	left: 0;
	width:100%; 
	height:100%;
	background: rgba(204, 206, 209, 0.6);
}
#alert .box{
	width: 300px;
	height: 150px;
	margin:auto; 
	position:relative; 
	top:35%; 
	background:white;
}
#alert .box h3{
	text-align:center;
	margin-top:0px;
}